* {
    margin: 0;
    padding: 0;
}
body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    background: url(../images/background.svg);
    background-color: #176658;
    /* background-size: contain; */
    color: white;
    font-family: 'Roboto', sans-serif;
}
header {
    height: 15vh;
    display: flex;
    align-items: center;
}
.logo {
    display: block;
    margin: auto;
}
.content {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    align-content: space-around;
    height: 70vh;
}
.text__h1 {
    font-size: 52px;
    font-weight: bold;
    text-transform: uppercase;
}
.text__h2 {
    font-family: 'Roboto Slab', serif;
    font-size: 32px;
}
.text__p{
    font-family: 'Roboto Slab', serif;
    font-size: 18px;
}
.footer {
    display: flex;
    align-items:flex-end;
    justify-content: center;
    height: 15vh;
}
.footer__p {
    font-size: 14px;
    font-weight: bold;
}